@page
@model WebUI.Pages.CoffeModel
@{
}
<div class="grid-container">
    @for (int i = 0; i < Model.Images.Count(); i++)
    {
        <div class="grid-item">
            <img class="grid-Image" src="@Model.Images[i].ProductImages" />
            <div class="grid-Cake">@Model.Images[i].ProductNames</div>
            <div class="grid-Info" onmouseover="hoverItem(this, @i)" onmouseout="hoverItemOut(this, @i)">@Model.Images[i].ProductDescription</div>
            <div class="grid-PriceContainer" id="@("PriceContainer" + i)">
                <div class="grid-Price">@Model.Images[i].ProductPrice €</div>
                @*<form  method="post"><a asp-page-handler="BuyCoffee" asp-route-id="@Model.Images[i].ProductID"  type="submit" class="L-Buttons" value="Buy" id="L-Buy" /></form>*@
                @*<a href="Cart" asp-page-handler="BuyCoffee" asp-route-id="@Model.Images[i].ProductID" asp-route-Name="@Model.Images[i].ProductNames" class="L-Buttons">BUY</a>*@
                <a class="L-Buttons" asp-page="Cart" asp-route-ProductID="@Model.Images[i].ProductID">CHOOSE</a>
            </div>
        </div>
    }
</div>
<script>
    var element = document.getElementById("L-Buy");
    element.style.textAlign = "match-parent";
    function hoverItem(x, y) {
        x.style.fontSize = "20px";
        x.style.backgroundColor = "rgba( 0, 0, 0, 0)";
        x.style.color = "white";
        x.style.border = "none";
        x.style.animationName = "test";
        x.style.animationDuration = "1s";
        var y = document.getElementById("PriceContainer" + y);
        y.style.animationName = "hoverJavaIn";
        y.style.animationDuration = "0.5s";
        y.style.opacity = "0";
    }
    function hoverItemOut(x, y) {
        x.style.animationName = "hoverJavaOut";
        x.style.animationDuration = "0.5s";
        x.style.fontSize = "15px";
        /*x.style.border = "2px solid white";*/
        x.style.backgroundColor = "rgba(0, 0, 0, 0)";
        x.style.color = "white";
        var y = document.getElementById("PriceContainer" + y);
        y.style.animationName = "hoverJavaOut";
        y.style.animationDuration = "0.5s";
        y.style.opacity = "1";
    }
</script>